.main-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #48a686;
  color: #ffff;
}
i {
  padding: 15px;
}
.margin-one {
  margin-left: 20px;
}
.main-two {
  margin-right: 45px;
}
.second-heading {
  display: flex;
  width: 100%;

  background-color: #e7ece8;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #48a686;
}
.second-one {
  margin-left: 50px;
}
ul {
  justify-content: space-between;
  margin-left: 450px;
}
li {
  display: inline-flex;
  margin: 5px;
  justify-content: space-between;
}
.bg-heaading {
  background-image: url("./img/farmery-bg-gray_1.jpeg");
  width: 100%;
  height: 125px;
  border-bottom: 1px dotted grey;
}
.bg-body {
  text-align: center;
  padding-top: 3px;
}
.bg-text {
  color: #48a686;
  font-weight: bold;
  font-size: 30px;
}
.bg-subtext {
  margin-bottom: 10px;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.card-row1 {
  width: 30.3%;
  height: 300px;
  margin-left: 10px;
  display: inline-flex;
  margin-top: 10px;
  position: relative;
}
.card-colum1 {
  border: 1px solid #e7ece8;
  background-color: #e7ece8;
  text-align: center;
  position: absolute;
}
.card-text {
  text-align: left;
  color: #48a686;
  font-size: 20px;
  font-weight: 900px;
  margin-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffff;
}
.card-footer {
  display: flex;
  justify-content: space-between;
}
.footer-button {
  background-color: #48a686;
  color: #ffff;
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
}
.footer-rate {
  color: #48a686;
}
